#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // [레이어 0] 기본 레이어: 우측 엄지 탭핑 시 한영키(RALT), 홀드 시 레이어 1 진입
        default_layer {
            bindings = <
&kp TAB   &kp Q &kp W &kp E &kp R &kp T      &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
&kp LCTRL &kp A &kp S &kp D &kp F &kp G      &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z &kp X &kp C &kp V &kp B      &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ENTER
                &kp LALT &kp LGUI &mo 1      &mo 2 &kp SPACE &lt 1 RALT
            >;
        };

        // [레이어 1] 숫자 및 기호 레이어
        number_layer {
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5      &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp DEL
&trans    &trans &trans &trans &trans &trans      &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
&trans    &trans &trans &trans &trans &trans      &trans   &trans   &trans &trans    &trans &trans
                        &trans &trans &trans      &trans   &trans   &trans
            >;
        };

        // [레이어 2] 시스템 및 블루투스 제어 레이어
        system_layer {
            bindings = <
&none      &none        &none        &none        &none        &none              &none &none &none &none &none &none
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4       &none &none &none &none &none &none
&none      &none        &none        &none        &none        &none              &none &none &none &none &none &none
                                     &trans       &trans       &trans             &trans &trans &trans
            >;
        };
    };
};
